<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <script
      src="https://kit.fontawesome.com/455dc16d52.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://www.gstatic.com/charts/loader.js"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js')}}"
    ></script>
    <script type="text/javascript"></script>
  </head>
  <body>
    <ul>
      {% if user.is_authenticated %}
      <li><a href="{{ url_for('views.home') }}">Home </a></li>
      <li><a href="{{ url_for('auth.logout') }}">Logout </a></li>
      {% else %}
      <li><a href="{{ url_for('auth.login') }}">Login </a></li>
      {% endif %}
      {% if current_user.email == 'admin@admin.com' %} 
      <li><a href="{{ url_for('auth.sign_up') }}">Signup Users</a></li>
      {% endif %}
    </ul>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert-error" role="alert">{{ message }}</div>
    {% else %}
    <div class="alert-success" role="alert">{{ message }}</div>
    {% endif %} {% endfor %} {% endif %} {% endwith %} {% block content %} {%
    endblock %}
  </div>
  </body>
</html>
