[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asttokens = "==2.2.1"
backcall = "==0.2.0"
certifi = "==2022.12.7"
click = "==8.1.3"
colorama = "==0.4.6"
comm = "==0.1.2"
debugpy = "==1.6.6"
decorator = "==5.1.1"
distlib = "==0.3.6"
et-xmlfile = "==1.1.0"
executing = "==1.2.0"
filelock = "==3.9.0"
flask = "==2.2.2"
flask-googlecharts = "==0.1.0"
flask-login = "==0.6.2"
flask-sqlalchemy = "==3.0.3"
greenlet = "==2.0.2"
ipykernel = "==6.21.1"
ipython = "==8.9.0"
itsdangerous = "==2.1.2"
jedi = "==0.18.2"
jinja2 = "==3.1.2"
jupyter-client = "==8.0.2"
jupyter-core = "==5.2.0"
markupsafe = "==2.1.2"
matplotlib-inline = "==0.1.6"
nest-asyncio = "==1.5.6"
numpy = "==1.24.2"
openpyxl = "==3.1.1"
packaging = "==23.0"
pandas = "==1.5.3"
parso = "==0.8.3"
pickleshare = "==0.7.5"
pipenv = "==2023.2.18"
platformdirs = "==3.0.0"
prompt-toolkit = "==3.0.36"
psutil = "==5.9.4"
pure-eval = "==0.2.2"
pygments = "==2.14.0"
python-dateutil = "==2.8.2"
pytz = "==2022.7.1"
pywin32 = "==305"
pyzmq = "==25.0.0"
six = "==1.16.0"
sqlalchemy = "==2.0.5.post1"
stack-data = "==0.6.2"
tornado = "==6.2"
traitlets = "==5.9.0"
typing-extensions = "==4.5.0"
virtualenv = "==20.20.0"
virtualenv-clone = "==0.5.7"
wcwidth = "==0.2.6"
werkzeug = "==2.2.2"
xlrd = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.11"
